{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3",
                "targets": [
                    "> 5% in CN",
                    "Firefox > 50",
                    "Chrome > 60"
                ]
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}
